.industry-banner {
    background-image: url('../images/industry-banner-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0 80px 0 !important;
}


:root {
    --bs-blue: #00BBFF;
}

.heading-bar {
    background-color: var(--bs-blue);
}


/* ------------------------------------banner-slider--------------------- */
h3 {
    margin: 5px 0;
}

.sliderContainer {
    position: relative;
}

.slider {
    width: 500px;
    margin: 30px 50px 50px;
}

.slick-slide {
    background: #3a8999;
    color: white;
    padding: 80px 0 120px;
    font-size: 30px;
    font-family: "Arial", "Helvetica";
    text-align: center;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots {
    bottom: -30px;
}

.slick-slide:nth-child(odd) {
    background: #e84a69;
}

.yellow-text h3 {
    color: yellow;
}

.progressBarContainer {
    position: absolute;
    bottom: 20px;
    width: 300px;
    left: 150px;
}

.progressBarContainer div {
    display: block;
    width: 30%;
    padding: 0;
    cursor: pointer;
    margin-right: 5%;
    float: left;
    color: white;
}

.progressBarContainer div:last-child {
    margin-right: 0;
}

.progressBarContainer div span.progressBar {
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
}

.progressBarContainer div span.progressBar .inProgress {
    background-color: rgba(255, 255, 255, 1);
    width: 0%;
    height: 4px;
}




/* -------------------------------tab section style start here ----------------------------------------- */

section.tab-section {
    padding: 100px 0;
    background: #fff;
    overflow: hidden;
}

.industry-tabs .nav-link {
    color: #00698E;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.industry-tabs .nav-tabs .nav-item {
    border-bottom: 2px solid red;

}

/* -------------------------------------------------- tab section styling ends here------------------------------ */


/* ---------------------- industry page success pages  css ----------------------- */
section.industry-success-sec{
    padding: 100px 0;
}

/* -------------------- ends here -------------------------------------- */


/* -------------------------Our Expertise section css start from here-------------------------- */

section.our-expertise {
    background: #EDF2F6;
    padding: 100px 0;
}


/* ---------------------------Our Expertise section css ends here---------------------------- */



/* -------------------------------------------------- Service-internal page style start from here ------------------------------------------------ */


section.service-int-sec {
    background: unset;
    padding: 100px 0;
}


/* ----------------------Eh---------------------------------------------------------------- */